* {
    font-family: "Prompt", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: auto;
}
.hello {

}

body {
    background-image: url("./bangerbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  body > * {
    z-index: 2;
  }
  
  .navbar {
    padding: 10px 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    background-color: #EEC170;
    border-bottom: 2px solid white;
  }
  
  .navbar-logo {
    margin-left: 10%;
    width: 100px;
    height: 100px;
    background-position: center center;
    background-size: cover;
    background-image: url("./fire-removebg-preview.png");
    position: relative;
  }
  
  .navbar-logo span {
    top: 50%;
    transform: translateY(-50%);
    z-index: 22;
    color: white;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-style: italic;
    position: absolute;
  }
  
  .navbar-socials {
    margin-right: 10%;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    display: flex;
  }
  
  .navbar-socials a {
    text-decoration: none;
  }
  
  .navbar-socials a img {
    border-radius: 50%;
    background-color: white;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 200px;
  }

  .header-intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
  }

  .header-intro > span:nth-child(1) {
    font-size: 2em;
    font-weight: 500;
  } 

  .header-intro span:nth-child(2) {
    font-size: 1.2em;
    font-weight: 500;
  }

  .header img {
    width: 400px;
    border-radius: 50%;
  }

  .flying {
    width: 40%;
    height: 40%;
    transform:
      perspective(1750px)
      translate3d(0px, 0px, -250px)
      rotateX(27deg)
      scale(0.7, 0.7);
    border-radius: 20px;
    border: 5px solid #e6e6e6;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;
  
    &:hover {
      transform: translate3d(0px, 0px, -150px);
    }
  }

  .red {
    color: #FE5E41;
  }

  .flying img {
    width: 100%;
    height: 100%;
  }

  .intro {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .narratives {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
  }
  